CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_GATT_CLIENT=n
CONFIG_BT_NIMBLE_50_FEATURE_SUPPORT=n
CONFIG_BT_NIMBLE_EXT_SCAN=n
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_CTRL_BLE_MAX_ACT=2
CONFIG_BT_CTRL_BLE_SCAN=y
CONFIG_BT_CTRL_BLE_MASTER=y
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_BOOTLOADER_CACHE_32BIT_ADDR_QUAD_FLASH=y
CONFIG_ESP_INT_WDT_TIMEOUT_MS=1000
CONFIG_LV_USE_PERF_MONITOR_LOG_MODE=n
CONFIG_LV_USE_FS_POSIX=y
CONFIG_LV_FS_POSIX_LETTER=65
CONFIG_LV_FS_POSIX_PATH="/resources"
CONFIG_LV_FS_POSIX_CACHE_SIZE=0
CONFIG_LV_USE_FONT_COMPRESSED=y
CONFIG_NETWORK_PROV_SCAN_MAX_ENTRIES=8
CONFIG_LV_USE_LODEPNG=y
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="1.0.6"
